/*IMPORTS*/
@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway|Lobster);

/*BODY*/
body{
    padding:5px 15px;
    font-family: 'Raleway';
    color: #333;
}
body.dark{
    background-color:#353535;
    color: #FFF;
}

/*FONTS*/
.handwriting{
    font-family:'Lobster';
}

/*COLORS*/
.red{
    color:#F33;
}
.green{
    color:#2F4;
}
.blue{
    color:#58F;
}
.turquoise{
    color:#1F8;
}
.cyan{
    color:#1DF;
}

.magenta{
    color:#D17;
}
/*HEADERS*/
h1, h2, h3, h4{
    font-family: 'Montserrat';
    margin:0px;
}

h1{
    font-size:4em;
}
h2{
    font-size:3em;
}
h3{
    font-size:2em;
}
h4{
    font-size:1.3em;
}

/*FORMS*/
input[type=text], textarea, input[type=password]{
    border:none;
    border-bottom: 1px solid;
    background-color:transparent;
    outline: none;
    resize: none;
    display:block;
    width:300px;
    margin-bottom:2px;
    padding:2px;
}
@media only screen and (max-width: 400px){
    input[type=text], textarea, input[type=password]{
        width:100%;
    } 
}

button, input[type=submit]{
    border:none;
    border-top:1px solid;
    border-bottom:1px solid;
    background-color: transparent;
    -webkit-transition: box-shadow 0.2s; /* Safari */
    transition: box-shadow 0.2s;
    padding:2px;
    margin-right:4px;
}

button:hover, input[type=submit]:hover{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.dark button:hover, .dark input[type=submit]:hover{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.90);
    -moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.90);
    box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.90);
}

/*TABLES*/
tr{
    border-bottom:1px solid;
}
td, th{
    padding:2px 5px;
}

th{
    font-family:'Montserrat';
}
td:nth-child(2), th:nth-child(2){
    background-color:rgba(0,0,0,0.05);
}

.dark td:nth-child(2), .dark th:nth-child(2){
    background-color:rgba(255,255,255,0.05);
}